[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
flask = "*"
numpy = "==1.21.5"
gunicorn = "*"
mlflow = "*"
xgboost = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
